<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="TheBindingofIsaacdatabase"
    Publisher="CN=Administrator"
    Version="1.0.0.0" />
	<mp:PhoneIdentity PhoneProductId="559ebdb4-216a-408d-baa3-2277ada4a2fc" PhonePublisherId="00000000-0000-0000-0000-000000000000" />


	<Properties>
    <DisplayName>The Binding of Isaac knowledge base</DisplayName>
    <PublisherDisplayName>Administrator</PublisherDisplayName>
     <Logo>Assets\Logo50x50.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="The_Binding_of_Isaac_knowledge_base.App">
            <uap:VisualElements DisplayName="Binding of Isaac" Square150x150Logo="Assets\Logo150x150.png" Square44x44Logo="Assets\Logo44x44.png" Description="The Binding of Isaac knowledge base" BackgroundColor="transparent">
                    <uap:DefaultTile>
                            <uap:ShowNameOnTiles>
                                    <uap:ShowOn Tile="square150x150Logo"/>
                            </uap:ShowNameOnTiles>
                    </uap:DefaultTile>
       
        
      </uap:VisualElements>
    </Application>
  </Applications>

</Package>